.astra-shop-thumbnail-wrap {
  overflow: hidden;
  position: relative;
}
.astra-shop-thumbnail-wrap .attachment-woocommerce_thumbnail {
  width: 100%;
  height: 100%;
}
.astra-shop-thumbnail-wrap .attachment-woocommerce_thumbnail img {
  width: 100%;
  height: 100%;
}
.astra-shop-thumbnail-wrap .overlay-content {
  width: 100%;
  height: 100%;
  background-color: #ebebeb !important;
  color: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  transition: 0.3s;
  top: 0%;
  left: 100%;
  opacity: 1;
}
.astra-shop-thumbnail-wrap .overlay-content img {
    background-color: #ebebeb;
    margin-bottom: 0 !important;
    object-fit: scale-down !important;
}
.astra-shop-thumbnail-wrap:hover .overlay-content {
  transform: translateX(-100%);
}
